<!DOCTYPE html>
<html>
<head>
   <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
   <script src='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js'></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
   <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css' rel='stylesheet' />
   <!--[if lte IE 8]>
     <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.ie.css' rel='stylesheet' >
   <![endif]-->
   <style>
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
      #output {
          position: absolute;
          top: 10px;
          right: 10px;
          padding: 10px;
          background: #fff;
          z-index: 100;
          width: 200px;
          text-align: center;
      }
      #output h1 {
        color: #666;
        font-size: 20px;
      }
      
      a {
        color: #aaa;
      }
      a:hover {
        color: #aaa;
      }
   </style>
</head>
<body ng-app>


<script>
  function CityCtrl($scope, $http){
    $scope.current_city_id = 0;

    $scope.current_city = function(){
      return $scope.cities[$scope.current_city_id]
    }

    $scope.map = L.mapbox.map('map', 'examples.map-20v6611k').setView([39.12367, -76.81229], 9);
    $scope.cities = [];
    $scope.group = function(){
      function compare(a,b) {
        if (a.properties.article_title < b.properties.article_title)
           return -1;
        if (a.properties.article_title > b.properties.article_title)
          return 1;
        return 0;
      }
      return $scope.cities.sort(compare);
    };
    $scope.new_color = function(){
      var colors = ['#0F808C', '#6C8C26', '#F2A71B', '#F26A1B', '#D91818', '#D91CC9', '#7622D9', '#2235D9']
      return colors[Math.floor(Math.random() * colors.length)];
    };
    $scope.render = function(){
      var response = [
        { name: "Los Angeles", coordinates: [-118.2428, 34.0522], link: "http://google.com", title: "Bitly Hackathon", summary: "Awesome shit goes here." },
        { name: "Washington D.C.", coordinates: [-77.03201, 38.90065], link: "http://google.com", title: "Obama", summary: "Woah this summary is so awesome!" }
      ];
      var last_color = null;
      for (var i = 0; i < response.length; i++){
        if (last_color == null || response[i].properties.article_title != response[i-1].properties.article_title){
          var color = $scope.new_color();
        } else {
          var color = last_color;
        }
        $scope.cities.push({
          id: i,
          type: 'Feature',
          properties: {
            title: response[i].name,
            article_title: response[i].title,
            summary: response[i].summary,
            'marker-color': color,
            'marker-size': 'large',
            url: response[i].link
          },
          geometry: {
            type: 'Point',
            coordinates: response[i].coordinates
          }
        });
        $scope.cities.sort();
      }
      $scope.map.markerLayer.setGeoJSON({ type: 'FeatureCollection', features: $scope.cities });
      $scope.map.markerLayer.on('click onmouseover', function(e) {
        e.layer.unbindPopup();
        $scope.current_city_id = e.layer.feature.id;
        $scope.$apply();
      });
    };
    $scope.render();
  }
  </script>
  {% raw %}
  <div ng-controller="CityCtrl">
    <div id='output'>
      <h1>{{current_city().properties.title}}</h1>
      <a ng-href="{{current_city().properties.url}}">{{current_city().properties.article_title}}</a>
      <br>
      <br>
      {{current_city().properties.summary}}
    </div>
    <div id='map'></div>
  </div>
  {% endraw %}
</body>
</html>
