<!DOCTYPE html>
<html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <script src='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js'></script>
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>
<div id='map'></div>
<script>
var app = {};
app.map = L.mapbox.map('map', 'examples.map-20v6611k').setView([39.12367, -76.81229], 9);
app.cities = [];
app.render = function(){
  var response = [
    { name: "Los Angeles", coordinates: [-118.2428, 34.0522], link: "http://google.com" }
  ];
  for (var i = 0; i < response.length; i++){
    app.cities.push({
      type: 'Feature',
      properties: {
        title: response[i].name,
        'marker-color': '#f00',
        'marker-size': 'large',
        url: response[i].link
      },
      geometry: {
        type: 'Point',
        coordinates: response[i].coordinates
      }
    });
  }
  app.map.markerLayer.setGeoJSON({ type: 'FeatureCollection', features: app.cities });
  app.map.markerLayer.on('click', function(e) {
      e.layer.unbindPopup();
      window.open(e.layer.feature.properties.url);
  });
}
app.render()
</script>
</body>
</html>
