<!DOCTYPE html>
<html>
<head>
   <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
   <script src='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js'></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
   <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css' rel='stylesheet' />
   <!--[if lte IE 8]>
     <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.ie.css' rel='stylesheet' >
   <![endif]-->
   <style>
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
      #output {
          position: absolute;
          top: 10px;
          right: 10px;
          padding: 10px;
          background: #fff;
          color: #aaa;
          z-index: 100;
      }
   </style>
</head>
<body ng-app>


<script>
  function CityCtrl($scope, $http){
    $scope.current_city = "Los Angeles";
    $scope.map = L.mapbox.map('map', 'examples.map-20v6611k').setView([39.12367, -76.81229], 9);
    $scope.cities = [];
    $scope.render = function(){
      var response = [
        { name: "Los Angeles", coordinates: [-118.2428, 34.0522], link: "http://google.com" },
        { name: "Washington D.C.", coordinates: [-77.03201, 38.90065], link: "http://google.com" }
      ];
      for (var i = 0; i < response.length; i++){
        $scope.cities.push({
          type: 'Feature',
          properties: {
            title: response[i].name,
            'marker-color': '#f00',
            'marker-size': 'large',
            url: response[i].link
          },
          geometry: {
            type: 'Point',
            coordinates: response[i].coordinates
          }
        });
      }
      $scope.map.markerLayer.setGeoJSON({ type: 'FeatureCollection', features: $scope.cities });
      $scope.map.markerLayer.on('click', function(e) {
        e.layer.unbindPopup();
        window.open(e.layer.feature.properties.url);
      });
    };
    $scope.render();
  }
  </script>
  <div ng-controller="CityCtrl">
    <div id='output'>
      <h1>{{current_city || "test"}}</h1>
    </div>
    <div id='map'></div>
  </div>
</body>
</html>
